# IDE / AI
.windsurf
.agents

# AI specs
specs/

# Environment
.env
.env.local
.env.*.local
.tool-versions

# Dependencies
node_modules/

# Build outputs
dist/

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# WXT
.wxt/

# TypeScript
*.tsbuildinfo

# OS
.DS_Store

# chrome extension
chrome-mv3/